[Desktop Entry]
Version=1.0
Type=Application
Name=Tibia
Comment=fast-paced free massively multiplayer online role-playing game
Exec=/opt/Tibia/start-tibia-launcher.sh
Icon=tibia
Terminal=false
StartupNotify=false
Categories=Application;Game;
